AngularPractice/RestApi/Service References/UserServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRequest" nillable="true" type="tns:UserRequest" />
  <xs:complexType name="ArrayOfUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRequest" nillable="true" type="tns:UserRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRequest" nillable="true" type="tns:ArrayOfUserRequest" />
</xs:schema>