AngularPractice/RestApi/Service References/CarServiceReference/CarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WorkflowService/CarService.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WorkflowService/CarService.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WorkflowService/CarService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CreateCar_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCar" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCar_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="int" element="q1:int" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCar_OutputMessage" />
  <wsdl:message name="IService_GetCarById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarById" />
  </wsdl:message>
  <wsdl:message name="IService_GetCarById_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/DataContract" name="CarRequest" element="q2:CarRequest" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCars_InputMessage" />
  <wsdl:message name="IService_GetAllCars_OutputMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/DataContract" name="ArrayOfCarRequest" element="q3:ArrayOfCarRequest" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CreateCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateCar" message="tns:IService_CreateCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateCarResponse" message="tns:IService_CreateCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteCar" message="tns:IService_DeleteCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteCarResponse" message="tns:IService_DeleteCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCarById" message="tns:IService_GetCarById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCarByIdResponse" message="tns:IService_GetCarById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllCars" message="tns:IService_GetAllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllCarsResponse" message="tns:IService_GetAllCars_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCar">
      <soap:operation soapAction="http://tempuri.org/IService/CreateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarById">
      <soap:operation soapAction="http://tempuri.org/IService/GetCarById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/WorkflowService/CarService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>